body {
    font-family: B Yekan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c3c2c2;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.button {
    padding: 20px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #0056b3;
}
